<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @subject.Subject %>
</p>

<p>
  <strong>Title:</strong>
  <%= @subject.Title %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @subject.Credit %>
</p>

<p>
  <strong>Units:</strong>
  <%= @subject.Units %>
</p>

<p>
  <strong>Descriptions:</strong>
  <%= @subject.Descriptions %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
